@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap);@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);.container,.container-fluid{margin-right:auto;margin-left:auto}.container-fluid{padding-right:2rem;padding-left:2rem}.row{box-sizing:border-box;display:flex;flex:0 1 auto;flex-direction:row;flex-wrap:wrap;margin-right:-.5rem;margin-left:-.5rem}.row.reverse{flex-direction:row-reverse}.col.reverse{flex-direction:column-reverse}.col-xs,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-offset-0,.col-xs-offset-1,.col-xs-offset-10,.col-xs-offset-11,.col-xs-offset-12,.col-xs-offset-2,.col-xs-offset-3,.col-xs-offset-4,.col-xs-offset-5,.col-xs-offset-6,.col-xs-offset-7,.col-xs-offset-8,.col-xs-offset-9{box-sizing:border-box;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-xs{flex-grow:1;flex-basis:0;max-width:100%}.col-xs-1{flex-basis:8.33333333%;max-width:8.33333333%}.col-xs-2{flex-basis:16.66666667%;max-width:16.66666667%}.col-xs-3{flex-basis:25%;max-width:25%}.col-xs-4{flex-basis:33.33333333%;max-width:33.33333333%}.col-xs-5{flex-basis:41.66666667%;max-width:41.66666667%}.col-xs-6{flex-basis:50%;max-width:50%}.col-xs-7{flex-basis:58.33333333%;max-width:58.33333333%}.col-xs-8{flex-basis:66.66666667%;max-width:66.66666667%}.col-xs-9{flex-basis:75%;max-width:75%}.col-xs-10{flex-basis:83.33333333%;max-width:83.33333333%}.col-xs-11{flex-basis:91.66666667%;max-width:91.66666667%}.col-xs-12{flex-basis:100%;max-width:100%}.col-xs-offset-0{margin-left:0}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-11{margin-left:91.66666667%}.start-xs{justify-content:flex-start;text-align:start}.center-xs{justify-content:center;text-align:center}.end-xs{justify-content:flex-end;text-align:end}.top-xs{align-items:flex-start}.middle-xs{align-items:center}.bottom-xs{align-items:flex-end}.around-xs{justify-content:space-around}.between-xs{justify-content:space-between}.first-xs{order:-1}.last-xs{order:1}@media only screen and (min-width:48em){.container{width:49rem}.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-offset-0,.col-sm-offset-1,.col-sm-offset-10,.col-sm-offset-11,.col-sm-offset-12,.col-sm-offset-2,.col-sm-offset-3,.col-sm-offset-4,.col-sm-offset-5,.col-sm-offset-6,.col-sm-offset-7,.col-sm-offset-8,.col-sm-offset-9{box-sizing:border-box;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-sm{flex-grow:1;flex-basis:0;max-width:100%}.col-sm-1{flex-basis:8.33333333%;max-width:8.33333333%}.col-sm-2{flex-basis:16.66666667%;max-width:16.66666667%}.col-sm-3{flex-basis:25%;max-width:25%}.col-sm-4{flex-basis:33.33333333%;max-width:33.33333333%}.col-sm-5{flex-basis:41.66666667%;max-width:41.66666667%}.col-sm-6{flex-basis:50%;max-width:50%}.col-sm-7{flex-basis:58.33333333%;max-width:58.33333333%}.col-sm-8{flex-basis:66.66666667%;max-width:66.66666667%}.col-sm-9{flex-basis:75%;max-width:75%}.col-sm-10{flex-basis:83.33333333%;max-width:83.33333333%}.col-sm-11{flex-basis:91.66666667%;max-width:91.66666667%}.col-sm-12{flex-basis:100%;max-width:100%}.col-sm-offset-0{margin-left:0}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-11{margin-left:91.66666667%}.start-sm{justify-content:flex-start;text-align:start}.center-sm{justify-content:center;text-align:center}.end-sm{justify-content:flex-end;text-align:end}.top-sm{align-items:flex-start}.middle-sm{align-items:center}.bottom-sm{align-items:flex-end}.around-sm{justify-content:space-around}.between-sm{justify-content:space-between}.first-sm{order:-1}.last-sm{order:1}}@media only screen and (min-width:64em){.container{width:65rem}.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-offset-0,.col-md-offset-1,.col-md-offset-10,.col-md-offset-11,.col-md-offset-12,.col-md-offset-2,.col-md-offset-3,.col-md-offset-4,.col-md-offset-5,.col-md-offset-6,.col-md-offset-7,.col-md-offset-8,.col-md-offset-9{box-sizing:border-box;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-md{flex-grow:1;flex-basis:0;max-width:100%}.col-md-1{flex-basis:8.33333333%;max-width:8.33333333%}.col-md-2{flex-basis:16.66666667%;max-width:16.66666667%}.col-md-3{flex-basis:25%;max-width:25%}.col-md-4{flex-basis:33.33333333%;max-width:33.33333333%}.col-md-5{flex-basis:41.66666667%;max-width:41.66666667%}.col-md-6{flex-basis:50%;max-width:50%}.col-md-7{flex-basis:58.33333333%;max-width:58.33333333%}.col-md-8{flex-basis:66.66666667%;max-width:66.66666667%}.col-md-9{flex-basis:75%;max-width:75%}.col-md-10{flex-basis:83.33333333%;max-width:83.33333333%}.col-md-11{flex-basis:91.66666667%;max-width:91.66666667%}.col-md-12{flex-basis:100%;max-width:100%}.col-md-offset-0{margin-left:0}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-3{margin-left:25%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-6{margin-left:50%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-9{margin-left:75%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-11{margin-left:91.66666667%}.start-md{justify-content:flex-start;text-align:start}.center-md{justify-content:center;text-align:center}.end-md{justify-content:flex-end;text-align:end}.top-md{align-items:flex-start}.middle-md{align-items:center}.bottom-md{align-items:flex-end}.around-md{justify-content:space-around}.between-md{justify-content:space-between}.first-md{order:-1}.last-md{order:1}}@media only screen and (min-width:75em){.container{width:76rem}.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-offset-0,.col-lg-offset-1,.col-lg-offset-10,.col-lg-offset-11,.col-lg-offset-12,.col-lg-offset-2,.col-lg-offset-3,.col-lg-offset-4,.col-lg-offset-5,.col-lg-offset-6,.col-lg-offset-7,.col-lg-offset-8,.col-lg-offset-9{box-sizing:border-box;flex:0 0 auto;padding-right:.5rem;padding-left:.5rem}.col-lg{flex-grow:1;flex-basis:0;max-width:100%}.col-lg-1{flex-basis:8.33333333%;max-width:8.33333333%}.col-lg-2{flex-basis:16.66666667%;max-width:16.66666667%}.col-lg-3{flex-basis:25%;max-width:25%}.col-lg-4{flex-basis:33.33333333%;max-width:33.33333333%}.col-lg-5{flex-basis:41.66666667%;max-width:41.66666667%}.col-lg-6{flex-basis:50%;max-width:50%}.col-lg-7{flex-basis:58.33333333%;max-width:58.33333333%}.col-lg-8{flex-basis:66.66666667%;max-width:66.66666667%}.col-lg-9{flex-basis:75%;max-width:75%}.col-lg-10{flex-basis:83.33333333%;max-width:83.33333333%}.col-lg-11{flex-basis:91.66666667%;max-width:91.66666667%}.col-lg-12{flex-basis:100%;max-width:100%}.col-lg-offset-0{margin-left:0}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-11{margin-left:91.66666667%}.start-lg{justify-content:flex-start;text-align:start}.center-lg{justify-content:center;text-align:center}.end-lg{justify-content:flex-end;text-align:end}.top-lg{align-items:flex-start}.middle-lg{align-items:center}.bottom-lg{align-items:flex-end}.around-lg{justify-content:space-around}.between-lg{justify-content:space-between}.first-lg{order:-1}.last-lg{order:1}}body,
html {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  height: 100%;
  background: #ffffff;
}

body,
form,
button,
section,
a,
input,
textarea,
select {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #2c3e50;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #080b0e;
}

[toggles] {
  cursor: pointer;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-family: 'Roboto', sans-serif;
}

h6 {
  font-family: 'Roboto', sans-serif;
}

.rounded {
  border-radius: 0.45rem !important;
}

.rounded-top {
  border-top-left-radius: 0.45rem;
  border-top-right-radius: 0.45rem;
}

.rounded-bottom {
  border-bottom-left-radius: 0.45rem;
  border-bottom-right-radius: 0.45rem;
}

.rounded-right {
  border-bottom-right-radius: 0.45rem;
  border-top-right-radius: 0.45rem;
}

.rounded-left {
  border-bottom-left-radius: 0.45rem;
  border-top-left-radius: 0.45rem;
}

.circle {
  border-radius: 50% !important;
}

.bordered {
  border: 1px solid #95a5a6;
}

.bordered-top {
  border-top: 1px solid #95a5a6;
}

.bordered-bottom {
  border-bottom: 1px solid #95a5a6;
}

.bordered-left {
  border-left: 1px solid #95a5a6;
}

.bordered-right {
  border-right: 1px solid #95a5a6;
}

.shadow-1 {
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.1);
}

.shadow-2 {
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.2);
}

.shadow-3 {
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.3);
}

.shadow-4 {
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.4);
}

.shadow-5 {
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.5);
}

.shadow-6 {
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.6);
}

.shadow-7 {
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.7);
}

.shadow-8 {
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.8);
}

.shadow-9 {
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.9);
}

.shadow-10 {
  box-shadow: 0px 0px 3px -1px black;
}

.size-64 {
  width: 64px;
  height: 64px;
}

.size-48 {
  width: 48px;
  height: 48px;
}

.size-32 {
  width: 32px;
  height: 32px;
}

.size-26 {
  width: 26px;
  height: 26px;
}

.size-16 {
  width: 16px;
  height: 16px;
}

.size-8 {
  width: 8px;
  height: 8px;
}

.primary {
  color: #ffffff;
  background-color: #17004a;
  border: 1px solid #17004a;
}

.o-primary {
  background-color: white;
  color: #17004a;
  border: 1px solid #17004a;
}

.secondary {
  color: #ffffff;
  background-color: #95a5a6;
  border: 1px solid #95a5a6;
}

.o-secondary {
  background-color: white;
  color: #95a5a6;
  border: 1px solid #95a5a6;
}

.blue {
  color: #ffffff;
  background-color: #2980b9;
  border: 1px solid #2980b9;
}

.o-blue {
  background-color: white;
  color: #2980b9;
  border: 1px solid #2980b9;
}

.success {
  color: #ffffff;
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
}

.o-success {
  background-color: white;
  color: #2ecc71;
  border: 1px solid #2ecc71;
}

.danger {
  color: #ffffff;
  background-color: #d62c1a;
  border: 1px solid #d62c1a;
}

.o-danger {
  background-color: white;
  color: #d62c1a;
  border: 1px solid #d62c1a;
}

.warning {
  color: #ffffff;
  background-color: #f39c12;
  border: 1px solid #f39c12;
}

.o-warning {
  background-color: white;
  color: #f39c12;
  border: 1px solid #f39c12;
}

.info {
  color: #ffffff;
  background-color: #3498db;
  border: 1px solid #3498db;
}

.o-info {
  background-color: white;
  color: #3498db;
  border: 1px solid #3498db;
}

.light {
  color: #ffffff;
  background-color: #efefef;
  border: 1px solid #efefef;
  color: #2c3e50;
}

.o-light {
  background-color: white;
  color: #efefef;
  border: 1px solid #efefef;
}

.white {
  color: #ffffff;
  background-color: #fff;
  border: 1px solid #fff;
}

.o-white {
  background-color: white;
  color: #fff;
  border: 1px solid #fff;
}

.dark {
  color: #ffffff;
  background-color: #2c3e50;
  border: 1px solid #2c3e50;
}

.o-dark {
  background-color: white;
  color: #2c3e50;
  border: 1px solid #2c3e50;
}

.flat {
  color: #ffffff;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #2c3e50;
  box-shadow: none;
}

.o-flat {
  background-color: white;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.flat {
  box-shadow: none !important;
  border: none !important;
}

.flat:hover {
  background-color: transparent;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mt-6 {
  margin-top: 60px;
}

.mt-7 {
  margin-top: 70px;
}

.mt-8 {
  margin-top: 80px;
}

.mt-9 {
  margin-top: 90px;
}

.mt-10 {
  margin-top: 100px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.ml-5 {
  margin-left: 50px;
}

.ml-6 {
  margin-left: 60px;
}

.ml-7 {
  margin-left: 70px;
}

.ml-8 {
  margin-left: 80px;
}

.ml-9 {
  margin-left: 90px;
}

.ml-10 {
  margin-left: 100px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.mb-6 {
  margin-bottom: 60px;
}

.mb-7 {
  margin-bottom: 70px;
}

.mb-8 {
  margin-bottom: 80px;
}

.mb-9 {
  margin-bottom: 90px;
}

.mb-10 {
  margin-bottom: 100px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.mr-6 {
  margin-right: 60px;
}

.mr-7 {
  margin-right: 70px;
}

.mr-8 {
  margin-right: 80px;
}

.mr-9 {
  margin-right: 90px;
}

.mr-10 {
  margin-right: 100px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pt-6 {
  padding-top: 60px;
}

.pt-7 {
  padding-top: 70px;
}

.pt-8 {
  padding-top: 80px;
}

.pt-9 {
  padding-top: 90px;
}

.pt-10 {
  padding-top: 100px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-3 {
  padding-left: 30px;
}

.pl-4 {
  padding-left: 40px;
}

.pl-5 {
  padding-left: 50px;
}

.pl-6 {
  padding-left: 60px;
}

.pl-7 {
  padding-left: 70px;
}

.pl-8 {
  padding-left: 80px;
}

.pl-9 {
  padding-left: 90px;
}

.pl-10 {
  padding-left: 100px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pb-6 {
  padding-bottom: 60px;
}

.pb-7 {
  padding-bottom: 70px;
}

.pb-8 {
  padding-bottom: 80px;
}

.pb-9 {
  padding-bottom: 90px;
}

.pb-10 {
  padding-bottom: 100px;
}

.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 20px;
}

.pr-3 {
  padding-right: 30px;
}

.pr-4 {
  padding-right: 40px;
}

.pr-5 {
  padding-right: 50px;
}

.pr-6 {
  padding-right: 60px;
}

.pr-7 {
  padding-right: 70px;
}

.pr-8 {
  padding-right: 80px;
}

.pr-9 {
  padding-right: 90px;
}

.pr-10 {
  padding-right: 100px;
}

.px-1 {
  padding: 10px;
}

.px-2 {
  padding: 20px;
}

.px-3 {
  padding: 30px;
}

.px-4 {
  padding: 40px;
}

.px-5 {
  padding: 50px;
}

.px-6 {
  padding: 60px;
}

.px-7 {
  padding: 70px;
}

.px-8 {
  padding: 80px;
}

.px-9 {
  padding: 90px;
}

.px-10 {
  padding: 100px;
}

.mx-1 {
  margin: 10px;
}

.mx-2 {
  margin: 20px;
}

.mx-3 {
  margin: 30px;
}

.mx-4 {
  margin: 40px;
}

.mx-5 {
  margin: 50px;
}

.mx-6 {
  margin: 60px;
}

.mx-7 {
  margin: 70px;
}

.mx-8 {
  margin: 80px;
}

.mx-9 {
  margin: 90px;
}

.mx-10 {
  margin: 100px;
}

.d-flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.box {
  padding: 48px 0px;
  text-align: center;
  width: 120px;
  font-size: 14px;
  background-color: #efefef;
}

input:not([type="radio"]):not([type="checkbox"]),
select {
  padding: 5px 10px;
  font-size: 20px;
  box-sizing: border-box;
}

select {
  min-width: 273px;
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") right center no-repeat;
  background-position: 96%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.progress-primary {
  background-color: #5f17ff !important;
}

.progress-primary .fixed-bar,
.progress-primary .loading-bar {
  background-color: #17004a !important;
}

.progress-secondary {
  background-color: white !important;
}

.progress-secondary .fixed-bar,
.progress-secondary .loading-bar {
  background-color: #95a5a6 !important;
}

.progress-blue {
  background-color: #bedcf0 !important;
}

.progress-blue .fixed-bar,
.progress-blue .loading-bar {
  background-color: #2980b9 !important;
}

.progress-success {
  background-color: #d1f5e0 !important;
}

.progress-success .fixed-bar,
.progress-success .loading-bar {
  background-color: #2ecc71 !important;
}

.progress-danger {
  background-color: #f8c9c4 !important;
}

.progress-danger .fixed-bar,
.progress-danger .loading-bar {
  background-color: #d62c1a !important;
}

.progress-warning {
  background-color: #fdedd4 !important;
}

.progress-warning .fixed-bar,
.progress-warning .loading-bar {
  background-color: #f39c12 !important;
}

.progress-info {
  background-color: #e1f0fa !important;
}

.progress-info .fixed-bar,
.progress-info .loading-bar {
  background-color: #3498db !important;
}

.progress-light {
  background-color: white !important;
}

.progress-light .fixed-bar,
.progress-light .loading-bar {
  background-color: #efefef !important;
}

.progress-white {
  background-color: white !important;
}

.progress-white .fixed-bar,
.progress-white .loading-bar {
  background-color: #fff !important;
}

.progress-dark {
  background-color: #8aa4be !important;
}

.progress-dark .fixed-bar,
.progress-dark .loading-bar {
  background-color: #2c3e50 !important;
}

.progress-flat {
  background-color: white !important;
}

.progress-flat .fixed-bar,
.progress-flat .loading-bar {
  background-color: #ffffff !important;
}

.progress {
  position: relative;
  height: 6px;
  display: block;
  width: 100%;
  border-radius: 2px;
  background-clip: padding-box;
  overflow: hidden;
  border-width: thin;
}

.progress .fixed-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  transition: width .3s linear;
}

.progress .fixed-bar > .progress {
  box-sizing: border-box;
  border-style: solid;
}

.progress .loading-bar > .progress {
  box-sizing: content-box;
}

.progress .loading-bar:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
          animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .loading-bar:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

.tag {
  width: auto;
  height: 32px;
  font-size: 14px;
  align-items: center;
  display: inline;
  padding: 5px 12px;
  border-radius: 100px;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.28);
}

.badge {
  display: inline-block;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50%;
  padding: 5px;
  width: 1em;
  height: 1em;
}

.button {
  border-radius: 1px;
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.28);
  font-family: Montserrat;
  font-size: 12;
  padding: 10px 30px;
  cursor: pointer;
}

.icon-button {
  display: flex;
  align-items: center;
}

.button.is-xs {
  padding: 4px 10px;
  font-size: 12px;
}

.button.is-sm {
  padding: 6px 15px;
  font-size: 15px;
}

.button.is-md {
  padding: 8px 20px;
  font-size: 18px;
}

.button.is-lg {
  padding: 10px 25px;
  font-size: 21px;
}

.button.is-xl {
  padding: 12px 30px;
  font-size: 24px;
}

.button.primary:hover {
  background-color: #0f0031;
}

.button.secondary:hover {
  background-color: #87999a;
}

.button.blue:hover {
  background-color: #2472a4;
}

.button.success:hover {
  background-color: #29b765;
}

.button.danger:hover {
  background-color: #bf2717;
}

.button.warning:hover {
  background-color: #e08e0b;
}

.button.info:hover {
  background-color: #258cd1;
}

.button.light:hover {
  background-color: #e2e2e2;
}

.button.white:hover {
  background-color: #f2f2f2;
}

.button.dark:hover {
  background-color: #233140;
}

.button.flat:hover {
  background-color: #f2f2f2;
}

.button-cart {
  position: relative;
}

.button-cart .cart {
  padding: 10px;
  padding-top: 0px;
  display: none;
  position: absolute;
  top: 70px;
  right: 6px;
  min-width: 350px;
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.28);
}

.oval {
  border-radius: 70px;
}

.alert {
  padding: 14px;
  border-radius: 3px;
  border-left: 8px solid rgba(0, 0, 0, 0.4);
}

.card {
  width: 500px;
  border-radius: 2px;
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.28);
}

.card .header {
  display: flex;
  padding: 10px;
}

.card .header .description {
  padding-top: 5px;
  padding-left: 10px;
  width: 80%;
}

.card .header .description .title {
  font-weight: bold;
}

.card .header .options {
  font-size: 1.7em;
}

.card .media img {
  width: 100%;
  height: auto;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.card .headline {
  padding: 10px;
  font-size: 21px;
}

.card .text {
  padding: 10px;
}

.card .actions {
  display: flex;
  justify-content: space-around;
}

.tooltip-icon {
  padding: 10px;
  width: 60px;
  border: 1px solid #3e5871;
  border-radius: 5px;
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.28);
}

.tooltip-icon .icon {
  height: 50px;
  width: 100%;
}

.tooltip-icon .icon img {
  width: 100%;
  height: 100%;
}

.tooltip-icon .icon i {
  font-size: 30px;
}

.tooltip-icon .text {
  font-size: 12px;
  text-decoration: none;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  color: #3e5871;
  width: 60px;
  height: 15px;
  margin-top: 10px;
}

.login-box input {
  margin-top: 10px;
  width: 100%;
}

.login-box button {
  margin-top: 10px;
  width: 100%;
  text-transform: uppercase;
}

.modal {
  padding: 30px;
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.28);
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background: #ffffff;
}

.modal .header .close {
  float: right;
  top: 0;
}

.modal .header .title {
  font-size: 28px;
}

.modal .body {
  padding: 15px 0;
  max-height: 500px;
  overflow-y: auto;
}

.modal .actions {
  margin-top: 20px;
  margin-bottom: -17px;
  margin-right: -15px;
  margin-left: -15px;
}

@media only screen and (max-width: 560px) {
  .modal {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
  }

  .modal .header .title {
    padding-bottom: 10px;
  }

  .modal .body {
    max-height: 80%;
    margin-right: -15px;
  }

  .modal .body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  .modal .body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  .modal .body::-webkit-scrollbar-thumb {
    background-color: #000000;
  }

  .modal .actions {
    position: absolute;
    right: 30px;
    bottom: 10px;
  }
}

.tabs,
.tabs.default,
.tabs.nested {
  margin: 0 auto -1px auto;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  overflow-y: scroll;
}

.tabs::-webkit-scrollbar,
.tabs.default::-webkit-scrollbar,
.tabs.nested::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.tabs::-webkit-scrollbar-thumb,
.tabs.default::-webkit-scrollbar-thumb,
.tabs.nested::-webkit-scrollbar-thumb {
  background: transparent;
}

.tabs .tab {
  padding: 10px 30px;
  display: inline-block;
  cursor: pointer;
}

.default.primary.tabs {
  background-color: transparent;
}

.default.primary.tabs .active {
  border-bottom-color: #17004a;
  color: #17004a;
}

.default.primary.tabs .tab:hover {
  border-bottom-color: #17004a;
  color: #17004a;
}

.default.secondary.tabs {
  background-color: transparent;
}

.default.secondary.tabs .active {
  border-bottom-color: #95a5a6;
  color: #95a5a6;
}

.default.secondary.tabs .tab:hover {
  border-bottom-color: #95a5a6;
  color: #95a5a6;
}

.default.blue.tabs {
  background-color: transparent;
}

.default.blue.tabs .active {
  border-bottom-color: #2980b9;
  color: #2980b9;
}

.default.blue.tabs .tab:hover {
  border-bottom-color: #2980b9;
  color: #2980b9;
}

.default.success.tabs {
  background-color: transparent;
}

.default.success.tabs .active {
  border-bottom-color: #2ecc71;
  color: #2ecc71;
}

.default.success.tabs .tab:hover {
  border-bottom-color: #2ecc71;
  color: #2ecc71;
}

.default.danger.tabs {
  background-color: transparent;
}

.default.danger.tabs .active {
  border-bottom-color: #d62c1a;
  color: #d62c1a;
}

.default.danger.tabs .tab:hover {
  border-bottom-color: #d62c1a;
  color: #d62c1a;
}

.default.warning.tabs {
  background-color: transparent;
}

.default.warning.tabs .active {
  border-bottom-color: #f39c12;
  color: #f39c12;
}

.default.warning.tabs .tab:hover {
  border-bottom-color: #f39c12;
  color: #f39c12;
}

.default.info.tabs {
  background-color: transparent;
}

.default.info.tabs .active {
  border-bottom-color: #3498db;
  color: #3498db;
}

.default.info.tabs .tab:hover {
  border-bottom-color: #3498db;
  color: #3498db;
}

.default.light.tabs {
  background-color: transparent;
}

.default.light.tabs .active {
  border-bottom-color: #efefef;
  color: #efefef;
}

.default.light.tabs .tab:hover {
  border-bottom-color: #efefef;
  color: #efefef;
}

.default.white.tabs {
  background-color: transparent;
}

.default.white.tabs .active {
  border-bottom-color: #fff;
  color: #fff;
}

.default.white.tabs .tab:hover {
  border-bottom-color: #fff;
  color: #fff;
}

.default.dark.tabs {
  background-color: transparent;
}

.default.dark.tabs .active {
  border-bottom-color: #2c3e50;
  color: #2c3e50;
}

.default.dark.tabs .tab:hover {
  border-bottom-color: #2c3e50;
  color: #2c3e50;
}

.default.flat.tabs {
  background-color: transparent;
}

.default.flat.tabs .active {
  border-bottom-color: #ffffff;
  color: #ffffff;
}

.default.flat.tabs .tab:hover {
  border-bottom-color: #ffffff;
  color: #ffffff;
}

.default.tabs {
  border: none;
  color: #c0bec5;
  border-bottom: 1px solid #efefef;
}

.default.tabs .active {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  color: inherit;
}

.nested.tabs .active {
  border-top: 3px solid orangered;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: -1px;
  color: black;
}

.side-sheet {
  position: fixed;
  height: 100%;
  width: 350px;
  background-color: antiquewhite;
}

.side-sheet-left {
  left: 0;
}

.side-sheet-right {
  right: 0;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: inherit;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: inherit;
  text-decoration: none;
}

ul.breadcrumb.with-chevron > li + li:before {
  content: "\f105";
  font-family: FontAwesome;
}

ul.breadcrumb.with-dots > li + li:before {
  content: "\f111";
  font-family: FontAwesome;
}

ul.breadcrumb.with-o-dots > li + li:before {
  content: "\f10c";
  font-family: FontAwesome;
}

.nav {
  width: 100%;
  min-height: 65px;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.28);
  background-color: #ffffff;
}

.nav .nav-left {
  float: left;
}

.nav .nav-right {
  float: right;
}

.nav .logo img {
  height: 65px;
  width: auto;
  float: left;
}

.nav .home {
  display: none;
}

.nav .nav-right,
.nav .nav-left {
  height: 100%;
  display: flex;
}

.nav .nav-right a,
.nav .nav-left a {
  padding: 22.5px 15px;
}

.nav .nav-right a:hover,
.nav .nav-left a:hover {
  border-bottom: 2px solid purple;
}

.nav .burger {
  display: none;
  float: right;
  cursor: pointer;
  padding: 10px 20px;
}

.nav .burger div {
  margin-top: 10px;
  border-radius: 20px;
  width: 35px;
  height: 3px;
  background-color: #2c3e50;
}

.nav .active {
  border-bottom: 2px solid purple;
  color: purple;
}

.fixed-aside {
  margin-left: 302px;
}

.nav-aside.fixed {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
}

.nav-aside {
  float: left;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.28);
  min-width: 300px;
}

.nav-aside a {
  cursor: pointer;
  color: inherit;
  display: block;
  padding: 14px 27px;
}

.nav-aside a:hover {
  font-weight: bold;
}

.nav-aside .active {
  font-weight: bold;
}

.nav-aside .link-dropdown .dropdown {
  display: none;
  margin-left: 44px;
  padding-bottom: 20px;
}

.nav-aside .link-dropdown .dropdown a {
  padding-left: 5px;
}

.nav-bottom {
  position: fixed;
  bottom: 0;
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.28);
  width: 100%;
  padding: 14px 0;
}

.nav-bottom ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-bottom ul li {
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  font-size: 11px;
  color: #c0bec5;
  display: flex;
  flex-direction: column;
}

.nav-bottom ul li i {
  padding-bottom: 5px;
  font-size: 24px;
}

.nav-bottom ul .active {
  color: #2980b9;
}

@media only screen and (max-width: 64em) {
  .nav {
    position: fixed;
    bottom: 0px;
    box-shadow: 1px 0px 4px -3px rgba(0, 0, 0, 0.58);
    display: flex;
    justify-content: space-around;
  }

  .nav .nav-links {
    display: none;
  }

  .nav .nav-links.toggled {
    display: flex;
  }

  .nav .active {
    border-left: 4px solid purple;
    border-right: 4px solid purple;
    border-bottom: 0px;
  }

  .nav .nav-links {
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 65px;
    background: white;
  }

  .nav .nav-links .nav-right,
  .nav .nav-links .nav-left {
    display: flex;
    flex-direction: column;
  }

  .nav .nav-links .nav-right a,
  .nav .nav-links .nav-left a {
    text-align: center;
  }

  .nav .nav-links .nav-right a:hover,
  .nav .nav-links .nav-left a:hover {
    border-left: 3px solid purple;
    border-right: 3px solid purple;
    border-bottom: 0px;
  }

  .nav .nav-links .nav-left {
    height: auto;
    margin-top: 150px;
  }

  .nav .home {
    display: block;
    padding: 10px;
  }

  .nav .home img {
    height: 40px;
  }

  .nav .logo {
    padding: 10px;
  }

  .nav .logo img {
    height: 45px !important;
    border-radius: 3px;
  }

  .nav .burger {
    padding: 10px;
    display: block;
  }
}

.cart {
  padding: 0px 10px;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  background: white;
}

.cart .products {
  display: inline-block;
}

.cart .products .product {
  display: flex;
}

.cart .products .product .image {
  display: inline-block;
}

.cart .products .product .description {
  display: inline-block;
  padding-left: 10px;
}

.cart .products .product .description .title {
  font-size: 16px;
}

.cart .products .product .description .text {
  font-size: 13px;
}

.cart .products .product .price {
  display: inline-block;
}

.footer h4 {
  font-size: 15px;
  text-transform: uppercase;
}

.footer ul {
  padding: 0;
  text-align: left;
  list-style: none;
}

.footer ul li {
  line-height: 28px;
  font-size: 14px;
  padding-bottom: 3px;
}

.footer .logo-box {
  border-left-color: inherit;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-color: inherit;
  border-right-width: 1px;
  border-right-style: solid;
}

.footer .copyright {
  border-top-color: inherit;
  border-top-width: 1px;
  border-top-style: solid;
}

.footer .copyright .icon {
  min-width: 45px;
  height: 45px;
  font-size: 18px;
  line-height: 46px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-bottom: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: px;
}

.jumbotron {
  padding: 0;
}

.jumbotron img {
  width: 100%;
}

.chat-header {
  padding: 30px 15px 10px 15px;
}

.chat-header h3 {
  margin: 0;
}

.chat-header h3 .status {
  font-size: 14px;
  font-weight: 100;
}

.chat-header i {
  font-size: 27px;
}

.chat-msg {
  padding: 20px;
  background-color: whitesmoke;
  height: 1000px;
}

.chat-msg .msg-box {
  display: flex;
  align-items: flex-end;
}

.chat-msg .msg-box .msg-profil-img {
  flex-shrink: 0;
  margin-right: 15px;
  margin-bottom: 22px;
  width: 36px;
  height: 36px;
  border-radius: 20px;
  background-color: red;
}

.chat-msg .msg-box .msg-content {
  position: relative;
  margin: 20px 0;
  padding: 18px 20px 28px 20px;
  border-radius: 20px;
  background-color: #fff;
  font-size: 14px;
}

.chat-msg .msg-box .msg-content .msg-time {
  position: absolute;
  right: 15px;
  bottom: 4px;
  color: #9c9c9c;
  font-size: 12px;
}

.chat-msg .msg-box .msg-content img {
  width: 100%;
}

.chat-msg .msg-box .msg-content .msg-btn {
  width: 100%;
  border-radius: 20px;
}

.inserting {
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.inserting textarea {
  padding: 20px;
  width: 100%;
  border: none;
}

.inserting .options {
  position: relative;
}

.inserting .options i {
  padding-right: 14px;
  font-size: 19px;
}

.inserting .options .mic-btn {
  position: absolute;
  right: 20px;
  bottom: 30px;
  border-radius: 50%;
  padding: 12px 14px 10px 14px;
}

.inserting .options .mic-btn i {
  padding: 0;
  font-size: 23px;
}

.swal2-popup .swal2-actions {
  justify-content: flex-end;
}

.swal2-popup .swal2-actions .swal2-confirm {
  background-color: purple;
}

.swal2-popup .swal2-icon.swal2-success [class^=swal2-success-line] {
  background: purple;
}


/*# sourceMappingURL=epic-ui.css.map*/